.Body {
  height: 80vh;

  .Body-Placeholder {
    height: 100vh;
  }

  .Body-Body {
    display: flex;
    flex-direction: row;
    height: 100%;

    .Body-Body-Column {
      &:first-child {
        width: 75vw;
  
        .Map-Overview {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
        
          .Map-Overview-Body {
            height: 100%;
            width: 100%;
          }
        }
      }
  
      &:nth-child(2) {
        width: 25vw;
        min-width: 270px;
        z-index: 999;
        box-shadow: rgb(125, 125, 125) 2px 2px 25px;
        overflow-y: auto;

        .Sidebar {
          padding: 2px;
          .Search {
            font-size: 14px;
            color: #2d2d2d;
            padding: 5px;

            .Search-Dropdown {
              div {
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
}